@import url(https://allfont.es/allfont.css?fonts=star-jedi);

body {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-image: url("fondo.jpg");
    background-size: 100%;

}

a {
    font-size: 23px;
    font-family: 'Open Sans Extrabold', arial;
    text-decoration: none;
    color: inherit;
}

/* SCROLL */

.container::-webkit-scrollbar {
    width: 0px;     /* Tamaño del scroll en vertical */
    height: 0px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.container::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.container::-webkit-scrollbar-thumb:hover {
    background: transparent;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.container::-webkit-scrollbar-thumb:active {
    background-color: transparent;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.container::-webkit-scrollbar-track {
    background: transparent;
    display: none;
}

/* Cambiamos el fondo cuando esté en active o hover */
.container::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active {
  background: transparent;
}



.letras {
    height: 17%;
    position: absolute;
    top: 2%;
    left: 33%;
    transition: ease 1.5s;
    z-index: 3;
}

/* NAVBAR */

.navbar {
    height: 70px;
    width: 100%;
    position: absolute;
    top: 25%;
}

.inicio {
    height: 100px;
    width: 15%;
    text-align: center;
    position: relative;
    top: 10%;
    left: 22%;
    padding-top: 0;
    border: #ffbb72 solid 3px;
    box-shadow:inset 0px 0px 20px 3px #ffbb72;
    border-radius: 25px;
    transition: ease 0.3s;
}

.inicio:hover {
    box-shadow:inset 0px 0px 30px 4px #ffbb72;
}

.pinicio {
    margin: 0%;
    padding-top: 35px;
    color: #ffbb72;
}

.productos {
    height: 100px;
    width: 15%;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 42%;
    padding-top: 0;
    border: #ffbb72 solid 3px;
    box-shadow:inset 0px 0px 20px 3px #ffbb72;
    border-radius: 25px;
    transition: ease 0.3s;
}

.productos:hover {
    box-shadow:inset 0px 0px 30px 4px #ffbb72;
}

.pproductos {
    margin: 0%;
    padding-top: 35px;
    color: #ffbb72;
}

.contacto {
    height: 100px;
    width: 15%;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 62%;
    padding-top: 0;
    border: #ffbb72 solid 3px;
    box-shadow:inset 0px 0px 20px 3px #ffbb72;
    border-radius: 25px;
    transition: ease 0.3s;
}

.contacto:hover {
    box-shadow:inset 0px 0px 30px 4px #ffbb72;
}

.pcontacto {
    margin: 0%;
    padding-top: 35px;
    color: #ffbb72;
}

.neon {
    font-size: 50px;
    letter-spacing:-2px;
    color: red;
    text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px red, 0 0 25px red;
    -webkit-text-fill-color: #F4ECFF;
    -webkit-text-stroke-color:red;
    -webkit-text-stroke-width:0.2px;
    -moz-text-fill-color: red;
    -moz-text-stroke-color:red;
    -moz-text-stroke-width:0.2px;
    text-align: center;
    top: 50%;
    left: 35%;
    position: absolute;
}


.mapagoogle {
    position: absolute;
    left: 55%;
    top: 17%;
}

.form {
    background-color: #ffbb72;
    border-radius: 30px;
    width: 70%;
    height: 450px;
    left: 15%;
    position: absolute;
    top: 70%;
}

.nombre {
    position: absolute;
    font-family: 'Open Sans Extrabold', arial;
    top: 20%;
    left: 10%;
}

.anombre {
    position: absolute;
    top: 20%;
    left: 25%;
}

.direccion {
    position: absolute;
    top: 30%;
    font-family: 'Open Sans Extrabold', arial;
    left: 10%;
}

.adireccion {
    position: absolute;
    top: 30%;
    left: 25%;
}

.tlf {
    position: absolute;
    top: 40%;
    font-family: 'Open Sans Extrabold', arial;
    left: 10%;
}

.atlf {
    position: absolute;
    top: 40%;
    left: 25%;
}

.duda {
    position: absolute;
    top: 50%;
    font-family: 'Open Sans Extrabold', arial;
    left: 10%;
}

.aduda {
    position: absolute;
    top: 50%;
    left: 25%;
    height: 100px;
    width: 170px;
}

button {
    width: 20%;
    position: absolute;
    left: 15%;
    top: 80%;
    height: 45px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border: black solid 2px;
    transition: 0.15s ease-in;
    background-color: #fca84f;
}

button:hover {
    background-color: #fa9830;
    left: 10%;
    width: 30%;

}

.espacioblanco {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 140%;
}
